<div class="container-delete-playlist" fxLayout fxLayout.xs="column" fxLayoutAlign="center">
  <div class="details" fxFlex="40%">
    <img src="https://i.imgur.com/42cBdg2.gif" alt="">
    <h5>Proyecto Software Libre</h5>
    <h1>UTN Sede San Carlos</h1>
  </div>
  <div class="main-container" fxFlex="40%">
    <h1>TubeKids</h1>
    <h4>¿Realmente deseea eliminar este invitado?</h4>
    <div id="videoContainer">
      <!-- container video -->
    </div>
    <div id="footer-video">
      <!-- footer video -->
    </div>
    <div class="container-buttom">
      <!-- buttom  -->
      <button mat-stroked-button color="primary" (click)="delete()">Eliminar</button>
    </div>
  </div>
</div>
