<div class="tubekids-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="tubekids-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 routerLink="/" class="name-app">{{title}}</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <h2 routerLink="/actualizar/mi-perfil" class="username">{{auth.fullname}}</h2>
      <mat-nav-list>
        <!-- register links -->
        <h3 mat-subheader *ngIf="!auth.loggedIn">INICIO</h3>
        <mat-list-item *ngIf="!auth.loggedIn">
          <mat-icon mat-list-icon>lock</mat-icon>
          <a mat-line routerLink="/login-admin">login Usuario</a>
        </mat-list-item>
        <mat-list-item *ngIf="!auth.loggedIn">
          <mat-icon mat-list-icon>lock</mat-icon>
          <a mat-line routerLink="/login-invitado">Login Invitado </a>
        </mat-list-item>
        <mat-list-item *ngIf="!auth.loggedIn">
          <mat-icon mat-list-icon>add</mat-icon>
          <a mat-line routerLink="/registrarse">Resgistrarce</a>
        </mat-list-item>
        <mat-divider *ngIf="!auth.loggedIn"></mat-divider>
        <!-- user links -->
        <h3 mat-subheader *ngIf="auth.loggedIn && auth.admin">USUARIOS</h3>
        <mat-list-item *ngIf="auth.loggedIn && auth.admin">
          <mat-icon mat-list-icon>build</mat-icon>
          <a mat-line routerLink="/invitados">Administrar</a>
        </mat-list-item>
        <mat-list-item *ngIf="auth.loggedIn && auth.admin">
          <mat-icon mat-list-icon>add</mat-icon>
          <a mat-line routerLink="/nuevo-invitado"> Nuevo </a>
        </mat-list-item>
        <mat-divider *ngIf="auth.loggedIn && auth.admin"></mat-divider>
        <!-- admin video list -->
        <h3 mat-subheader *ngIf="auth.loggedIn && auth.admin">Video</h3>
        <mat-list-item *ngIf="auth.loggedIn && auth.admin">
          <mat-icon mat-list-icon>build</mat-icon>
          <a mat-line routerLink="/administrar-videos">Administrar</a>
        </mat-list-item>
        <mat-list-item *ngIf="auth.loggedIn && auth.admin">
          <mat-icon mat-list-icon>add</mat-icon>
          <a mat-line routerLink="/nuevo-video"> Nuevo </a>
        </mat-list-item>
        <mat-divider *ngIf="auth.loggedIn && auth.admin"></mat-divider>
        <!-- guest video list -->
        <h3 mat-subheader *ngIf="auth.loggedIn && auth.guest">Videos</h3>
        <mat-list-item *ngIf="auth.loggedIn && auth.guest">
          <mat-icon mat-list-icon>build</mat-icon>
          <a mat-line routerLink="/mis-videos">ver</a>
        </mat-list-item>
        <mat-divider *ngIf="auth.loggedIn && auth.guest "></mat-divider>
        <!-- logout -->
        <h3 mat-subheader *ngIf="auth.loggedIn">SALIR</h3>
        <mat-list-item *ngIf="auth.loggedIn">
          <mat-icon mat-list-icon>reply</mat-icon>
          <a mat-line (click)="logout()">Salir</a>
        </mat-list-item>
        <mat-divider *ngIf="auth.loggedIn"></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
