<div class="container-frm-user" fxLayout fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex="50%">
    <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
      <h1>TubeKids</h1>
      <h4>Crear tu cuenta en TubeKids</h4>
      <!-- name field -->
      <div fxLayout fxLayout.xs="column">
        <div fxFlex="40%">
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" type="text" required matInput placeholder="Ingrese su nombre" [ngClass]="{ 'is-invalid': submitted && formControls.name.errors }">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error  *ngIf="(submitted && formControls.name.errors) && (formControls.name.errors.required)">
                Nombre requerido
              </mat-error> 
          </mat-form-field>
        </div>
        <div fxFlex="60%">
          <!-- surnames field -->
          <mat-form-field appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input formControlName="surnames" type="text" required matInput placeholder="Ingrese sus Apellidos" [ngClass]="{ 'is-invalid': submitted && formControls.surnames.errors }">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error  *ngIf="(submitted && formControls.surnames.errors) && (formControls.surnames.errors.required)">
              Apellidos requerido
            </mat-error> 
          </mat-form-field>
        </div>
      </div>
      <div fxLayout fxLayout.xs="column">
        <div fxFlex="50%">
          <!-- country field -->
          <mat-form-field appearance="outline">
            <mat-label>País</mat-label>
            <input formControlName="country" type="text" required matInput placeholder="Ingrese su país" [ngClass]="{ 'is-invalid': submitted && formControls.country.errors }">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error  *ngIf="(submitted && formControls.country.errors) && (formControls.country.errors.required)">
              País requerido
            </mat-error> 
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <!-- birddate field -->
          <mat-form-field appearance="outline">
            <mat-label>Fecha de nacimiento</mat-label>
            <input formControlName="birthDate" type="date" required matInput placeholder="Ingrese su fecha de nacimiento" [ngClass]="{ 'is-invalid': submitted && formControls.birthDate.errors }">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error  *ngIf="(submitted && formControls.birthDate.errors) && (formControls.birthDate.errors.required)">
              Fecha requerido
            </mat-error> 
            <mat-error  *ngIf="(submitted && formControls.birthDate.errors) && (formControls.birthDate.errors.pattern)">
              Formato invalido
            </mat-error> 
          </mat-form-field>
        </div>
      </div>
      <!-- email field -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" required matInput placeholder="Ingrese su email" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error  *ngIf="(submitted && formControls.email.errors) && (formControls.email.errors.required)">
          Email requerido
        </mat-error> 
      </mat-form-field>
      <div fxLayout fxLayout.xs="column">
        <div fxFlex="50%">
          <!-- passoword field -->
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input formControlName="password" type="password" required matInput placeholder="Ingrese la contraseña" [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="submitted && pwConfirm.errors || password.invalid && (password.dirty || password.touched)">
              Contraseña es requerida
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <!-- confirm password field -->
          <mat-form-field appearance="outline">
            <mat-label>Confimación</mat-label>
            <input formControlName="passwordConfirm" type="password" required matInput placeholder="Ingrese la confirmación" [ngClass]="{ 'is-invalid': submitted && formControls.passwordConfirm.errors }">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="(submitted && pwConfirm.errors || (submitted &&  pwConfirm.invalid && (pwConfirm.dirty || pwConfirm.touched))) && pwConfirm.errors['required']">
              Confirmación requerida
            </mat-error>
            <mat-error *ngIf="(submitted && pwConfirm.errors || (submitted &&  pwConfirm.invalid && (pwConfirm.dirty || pwConfirm.touched))) && pwConfirm.errors['compare']">
              No es igul a la contraseña
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- buttom  -->
      <div class="container-buttom">
        <div fxLayout fxLayout.md="column">
          <div class="container-link-login" fxFlex="50%">
            <a href="">Acceder a tu cuenta en su lugar</a>
          </div>
          <div class="container-btn-save" fxFlex="50%">
            <button mat-stroked-button color="primary">Guardar</button>
          </div>
        </div>
      </div>
    </form>
    </div>
    <div class="details" fxFlex="40%" fxFlex.xs="0%">
      <img src="https://i.imgur.com/42cBdg2.gif" alt="">
      <h5>Proyecto Software Libre</h5>
      <h1>UTN Sede San Carlos</h1>
    </div>
  </div>
