.container-frm-admin {
  margin-top: 8%;
}

.container-frm-admin>div>form {
  margin-top: 1%;
  padding-top: 1%;
  -webkit-box-shadow: 1px 4px 8px 3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 1px 4px 8px 3px rgba(0, 0, 0, 0.66);
  box-shadow: 1px 4px 8px 3px rgba(0, 0, 0, 0.66);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

.container-frm-admin>div>form div mat-form-field {
  max-width: none !important;
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.container-frm-admin>div>form mat-form-field {
  max-width: none !important;
  width: 97%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.container-buttom {
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

.container-buttom a {
  text-decoration: none;
  color: #000000;
  text-align: left;
}

.container-buttom .container-link-login {
  padding-top: 10px;
  padding-left: 2.3%;
  text-align: left;
}

.container-buttom .container-btn-save {
  text-align: center;
}

.container-frm-admin .details {
  text-align: center;
}

.container-frm-admin .details h1,
.details h5 {
  padding: 0;
  margin: 0;
}

.container-frm-admin img {
  text-align: center;
  max-width: none;
  width: 45%;
  max-height: none;
  height: auto;
}

.container-frm-admin div form h1,
.container-frm-admin div form h4 {
  padding-left: 2%;
}
